.col-right{
	float: right;
    margin: 2% 2% 0 0;
}

#col-right > .timkiem{
	float: right;
	margin: 5px
}

#col-left{
	width: 40%;
}

.form-style > label,.form-style > input{
	margin-top: 10px;
}

#btn-xoaloaisanpham{
	margin: 5px;
}

.themsanpham table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 10px 5px
}

.themsanpham table th{
	width: 50%;
}

.hienthisanpham {
	margin-bottom: 25px;
}

.themsanpham {
	margin-bottom: 25px;
}

.anbutton{
	display: none;
}

.anchitietsanpham{
	display: none;
}

.table tbody tr th{
	vertical-align: middle;
}

.select2-container {
	width: 55%!important;
}