<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ochutgio.reviewquanan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapapi_key"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <activity android:name=".View.SplashScreenActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".View.DangNhapActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".View.TrangChuActivity" android:screenOrientation="portrait" ></activity>

        <activity android:name=".View.DangKyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name=".View.QuenMatKhauActivity"></activity>

        <activity android:name=".View.ChiTietQuanAnActivity"></activity>

        <activity android:name=".View.BinhLuanActivity" android:theme="@style/OtherAppTheme" android:windowSoftInputMode="adjustPan"></activity>

        <activity android:name=".View.ChonHinhBinhLuanActivity"></activity>

        <activity android:name=".View.ThemQuanAnActivity" android:theme="@style/OtherAppTheme"></activity>

        <activity android:name=".View.TimKiemActivity"></activity>

        <activity android:name=".View.HoSoActivity"></activity>

        <activity android:name=".View.TatCaBinhLuanActivity"></activity>

        <activity android:name=".View.TatCaHinhAnhActivity"></activity>

    </application>

</manifest>